:root {
  --primary-color-1: #0b0b0b;
  /* --primary-color-1: #0d0d0d; */
  --primary-color-2: #131313;
  --primary-color-3: #121318;
  --red-color-1: #ff2222;
  --red-color-2: #3a0d20;
  --light-gray-1: #c5c5c5;
  --border-gray-1: #6d6d6d;
  --border-gray-2: #393939;
  --color-bg-1: #020103;
  --color-bg-2: #11081a;
}
/* :root {
  --primary-color-1: #06070b;
  --primary-color-2: #10121b;
  --primary-color-3: #121318;
} */
