/* RIGHT ROADMAP */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
  padding: 26px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.roadmap-title {
  margin-top: 20px;
  color: #f2f3f5;
  font-size: 28px;
  line-height: 1.4em;
}

.roadmap-title.mb-0 {
  margin-top: 0;
}

.roadmap-title.mb-20 {
  font-size: 32px;
  line-height: 36px;
}

.text-white {
  color: #f2f3f5;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
}

.text-white-opacity {
  color: rgba(242, 243, 245, .6);
}

.corner-black {
  width: 40px;
  height: 40px;
  background-color: #17161b;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.corner-gray-100 {
  width: 40px;
  height: 40px;
  background-color: #19181d;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.corner-black.top-left {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.corner-black.top-left.small {
  z-index: 2;
  -webkit-transform: translate(-92%, -54%) rotate(45deg);
  -ms-transform: translate(-92%, -54%) rotate(45deg);
  transform: translate(-92%, -54%) rotate(45deg);
}

.corner-black.top-left.small {
  z-index: 2;
  -webkit-transform: translate(-70%, -54%) rotate(45deg);
  -ms-transform: translate(-70%, -54%) rotate(45deg);
  transform: translate(-70%, -54%) rotate(45deg);
}

.corner-black.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%) rotate(45deg);
  -ms-transform: translate(50%, 50%) rotate(45deg);
  transform: translate(50%, 50%) rotate(45deg);
}

.corner-black.bottom-right.small {
  z-index: 2;
  -webkit-transform: translate(92%, 54%) rotate(45deg);
  -ms-transform: translate(92%, 54%) rotate(45deg);
  transform: translate(92%, 54%) rotate(45deg);
}

.corner-black.bottom-right.small {
  z-index: 2;
  -webkit-transform: translate(63%, 54%) rotate(45deg);
  -ms-transform: translate(63%, 54%) rotate(45deg);
  transform: translate(63%, 54%) rotate(45deg);
}

.corner-black.bottom-left {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: #202125;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  transform: translate(-50%, 50%) rotate(45deg);
}

.corner-black.bottom-left.large {
  background-color: #17161b;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  transform: translate(-50%, 50%) rotate(45deg);
}

.corner-black.small {
  width: 20px;
  height: 20px;
}

.corner-black.small.bottom-left {
  background-color: #202125;
}

.corner-black.small.top-right {
  background-color: #202125;
}

.corner-black.bordered-primary {
  border-style: solid;
  border-width: 2px;
  border-color: #ff4f5e;
}

.corner-black.bordered {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(242, 243, 245, 0.07);
}

.corner-black.top-right {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  -ms-transform: translate(50%, -50%) rotate(45deg);
  transform: translate(50%, -50%) rotate(45deg);
}

.corner-black.top-right.large {
  width: 15px;
  height: 15px;
  background-color: #202125;
}

.corner-black.large {
  width: 80px;
  height: 80px;
}

.corner-gray-100.large {
  width: 80px;
  height: 80px;
}

.corner-black.large.top-right.right-dark {
  width: 45px;
  height: 45px;
  background-color: #17161b;
}

.section-inner {
  position: relative;
  overflow: hidden;
  padding: 40px 60px;
}

.section-inner.primary {
  background-color: #ff4f5e;
}

.section-inner.primary-bordered {
  background-color: rgba(185, 72, 65, 0.11);
  box-shadow: inset 0 0 0 2px #b94841;
}

.section-inner.primary-bordered._2 {
  margin-top: 50px;
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(255, 79, 94, 0);
  box-shadow: none;
}

.section-inner.dark {
  background-color: #202125;
}

.section-inner.dark.season {
  overflow: visible;
}

.corner-primary {
  width: 40px;
  height: 40px;
  background-color: #ff4f5e;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.corner-primary.top-left {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.corner-primary.top-left.small {
  z-index: 2;
  -webkit-transform: translate(-92%, -54%) rotate(45deg);
  -ms-transform: translate(-92%, -54%) rotate(45deg);
  transform: translate(-92%, -54%) rotate(45deg);
}

.corner-primary.top-left.small {
  z-index: 2;
}

.corner-primary.bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%) rotate(45deg);
  -ms-transform: translate(50%, 50%) rotate(45deg);
  transform: translate(50%, 50%) rotate(45deg);
}

.corner-primary.bottom-right.small {
  z-index: 2;
  -webkit-transform: translate(92%, 54%) rotate(45deg);
  -ms-transform: translate(92%, 54%) rotate(45deg);
  transform: translate(92%, 54%) rotate(45deg);
}

.corner-primary.bottom-right.small {
  z-index: 2;
}

.corner-primary.top-right {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  -ms-transform: translate(50%, -50%) rotate(45deg);
  transform: translate(50%, -50%) rotate(45deg);
}

.corner-primary.bottom-left {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  -ms-transform: translate(-50%, 50%) rotate(45deg);
  transform: translate(-50%, 50%) rotate(45deg);
}

.corner-primary.small {
  width: 20px;
  height: 20px;
}

.section-display {
  position: absolute;
  top: -120px;
}

.section-display.left {
  left: 0;
  top: auto;
  right: 0;
  bottom: 37%;
}

.section-display.right {
  right: -5%;
}

.text-white-opacity {
  color: rgba(242, 243, 245, 0.6);
  font-size: 18px;
}

.text-white-opacity.mb-20 {
  color: rgba(242, 243, 245, 0.6);
}

.text-white-opacity.mb-40 {
  font-size: 20px;
  line-height: 1.4em;
}

.mb-60 {
  margin-bottom: 60px;
}

/* ROADMAP STORYLINE */

.container-roadMap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

/* @media screen and (min-width: 1024px) {
  .container-roadMap {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .container-roadMap {
    margin-top: 4rem;

  }
} */

/* ROADMAP ITEM */
.container-item::before {
  border-color: rgba(241, 64, 64, 0.8);
  left: 0;
  border-left-width: 3px;
  border-left-style: solid;
  top: 0;
  height: 45px;
  position: absolute;
  content: "";
}

.container-item::after {
  border-color: rgba(241, 64, 64, 0.8);
  left: 0;
  border-left-width: 3px;
  border-left-style: solid;
  top: 45px;
  height: calc(100% - 45px);
  right: auto;
  position: absolute;
  content: "";
}

.container-item {
  position: relative;
  padding-bottom: 30px;
  color: #e4e1ff;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.container-content-item {
  margin-left: 0;
  border: none;
  padding-top: 0;
  padding-right: 25px;
  padding-left: 25px;
  max-width: 100%;
}

.container-content-item::after {
  border-top-style: dashed;
  border-color: rgba(255, 255, 255, 0.1);
  width: 38px !important;
  left: 0 !important;
  height: 0;
  top: 49px;
  background: 0 0 !important;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  position: absolute;
  content: "";
}

.container-content-header {
  padding-right: 0;
  margin-bottom: 0;
  line-height: 1.6;
}

.container-content-header-time {
  color: rgba(241, 64, 64, 0.8);
  width: 100%;
  font-weight: 700;
  font-size: 1.3rem;
  position: relative;
  line-height: 25px;
  text-transform: uppercase;
}

.container-content-header-time::before {
  background: rgba(255, 255, 255, 0.1);
  bottom: -10px;
  width: 27px;
  height: 27px;
  margin-left: -13.5px;
  margin-top: -13.5px;
  position: absolute;
  content: "";
  left: -24px;
  border-radius: 50%;
}

.container-content-header-time::after {
  background: #fff;
  bottom: -2px;
  width: 11px;
  height: 11px;
  margin-left: -5.5px;
  margin-top: -5.5px;
  position: absolute;
  content: "";
  left: -24px;
  border-radius: 50%;
  z-index: 1;
}

.container-content-header-title {
  padding-top: 25px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.651);
}

.container-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-content-list li {
  list-style: none;
  padding: 8px 0;
  position: relative;
  color: #e4e1ff;
  font-size: 0.85em;
  line-height: 1.86;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.container-content-list li:nth-last-child(1)::after {
  content: "";
  display: none;
}


.container-content-list li:after {
  position: absolute;
  content: "";
  left: 10px;
  bottom: 0;
  width: 20px;
  height: 1px;
  transform: translateX(-50%);
  background: currentColor;
}

/* @media screen and (min-width: 768px) {
  .container-content-list li {
    font-size: 0.95em;
  }

  .container-content-header-title {
    font-size: 1em;
  }

  .container-content-header-time {
    font-size: 0.81em;
  }
}

@media screen and (min-width: 1024px) {
  .container-item::before {
    top: 41px;
    border-top-width: 3px;
    border-top-style: solid;
    left: 0;
    border-left-width: 3px;
    border-left-style: solid;
    height: 0;
    width: 50%;
  }

  .container-item::after {
    right: 0;
    left: auto;
    top: 41px;
    border-top-width: 3px;
    border-top-style: solid;
    border-left-width: 3px;
    border-left-style: solid;
    height: 0;
    width: 50%;
  }

  .container-content-item {
    padding-top: 0;
    width: 100%;
    padding: 0px 30px 35px;
    margin-left: 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    text-align: center !important;
  }

  .container-content-item::after {
    width: 0 !important;
    left: 50% !important;
    margin-left: -0.5px;
    height: 40px !important;
    top: 48px;
    border-top: 0;
    border-left: 1px dashed rgba(255, 255, 255, 0.1);
  }

  .container-content-header-time {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 27px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 0.91em;
    position: relative;
    line-height: 25px;
    text-transform: uppercase;
  }

  .container-content-header-time::before {
    bottom: -2px;
    left: 50%;
    width: 27px;
    height: 27px;
    margin-left: -13.5px;
    margin-top: -13.5px;
    position: absolute;
    content: "";
    border-radius: 50%;
  }

  .container-content-header-time::after {
    left: 50%;
    bottom: 5px;
    width: 11px;
    height: 11px;
    margin-left: -5.5px;
    margin-top: -5.5px;
  }

  .container-content-header-title {
    padding-top: 3rem
  }

  .container-content-list {
    margin-top: 1rem;
  }

  .container-content-list li {
    font-size: 1em;
  }

  .container-content-list li:after {
    left: 50%;
  }
} */